:root {
  --page-bg-color: #EDEDED; 
  --main-color: #333333;
  --main-bg-color: #FFFFFF; 
  --main-text-color: #1B1F23; 
  --additional-text-color: #ABABAB;
  --accent-color: #FF5500; 
  --border-color: #E1E3E6; 
  --input-color: #999FA6;
}
